<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>E-COMMERCE</title>
        <link href="styles.css" rel="stylesheet">
    </head>
    <body>
        <h1>This is planB page!</h1>
        
    </body>
</html>