<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        {{> productsHeader}}
        <link href="/styles.css" rel="stylesheet">
        <link href="/custom.css" rel="stylesheet">
    </head>
    <body>
        {{{body}}}
    </body>
</html>