<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <div class="fadeIn first">
      <img src="images/User.jpg" id="image" alt="User Image" />
    </div>

    <!-- Register Form -->
    <form action="/register" method="POST">
      <input type="email" id="login" class="fadeIn second" name="email" placeholder="email id">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Register">
    </form>
    
    



  </div>
</div>